// Colors
$black: #000000;
$white: #ffffff;
$bgc-footer: #f5f5f5;
// $bgc-mobile-menu: rgba(1, 23, 45, 0.95);
// $bgc-nav-sticky: rgba(27, 49, 75, 0.9);
// $bgc-element: rgba(27, 49, 75, 0.75);
// $bgc-element-button: #2D3A52;
// $bgc-popup: rgba(27, 49, 75, 0.85);
// $bgc-link: #0E1420;
// $bgc-link-hover: #E7CC89;
// $bgc-notification: #FFEFC5;
// $color-main: #FFE195;
// $color-warning: #FF4242;

$boxShadow: 0px 0px 24px 0px rgba(34, 60, 80, 0.2);


// Breakpoints desktope first
$mobile: 768px;
$tablet: 1070px;
$desktope: 1200px;
$wide: 1800px;

// DPI
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

// Fonts
$base-font-size: 16px;
@function rem($size) { @return $size / $base-font-size * 1rem; }
@mixin font-size($size) {
  font-size: $size;
  font-size: rem($size);
}

$font-main: "PressStart2P", "Arial", "Helvetica", sans-serif;
$font-note: "Lobster", "Times New Roman", "Times", serif;
