---
title: title from pages/index.njk
layout: release.njk
permalink: "index.html"
---

<header>
</header>
<main>
  index.njk
  {% for cover in collections.covers | reverse %}
    <section>
      <img src="{{ cover.path }}" data-root="{{ cover.root }}" class="cover" width="150px" height="150px" alt="cover">
    </section>
  {% endfor %}
  <iframe id="iframe" height="300px" frameborder="no" >
</main>
