---
title: title from pages/index.njk
layout: release.njk
permalink: "index.html"
---

<header>
</header>
<main>
  index.njk
  {%- for release in collections.release | reverse -%}
    <p>
      {{ release.date }}
    </p>
    {{ release.title }}
    {{ release.templateContent | safe }}
  {%- endfor -%}
  {% for cover in collections.covers %}
    <img src="{{ cover }}" alt="cover">
  {% endfor %}
</main>

