---
title: Bleeplove
classPage: 'page-release'
layout: main.njk
permalink: "index.html"
---

{% set buttonImgTitle = 'Открыть информацию о релизе' %}

<main class="releases container">
  <section class="releases__collection">
    {% for release in collections.release | withCovers %}
      <button 
        class="releases__button button-reset"
        data-path="{{ release.covers[0].path }}"
        data-root="{{ release.covers[0].root }}"
        aria-label="{{ buttonImgTitle }}" 
        title="{{ buttonImgTitle }}"
      >
        <span class="releases__button-title">
          {{ release.data.title }}
        </span>
        <img src="{{ release.covers[0].path | pathSmall }}" class="releases__cover" width="160px" height="160px" alt="cover">
      </button>
    {% endfor %}
  </section>
  <aside class="preview__container container">
    <div class="preview">
      <img class="preview__cover" style="max-width: 425px" height="45%" alt="cover">
      <iframe class="preview__description" frameborder="no" >
    </div>
  </aside>
</main>
{% include "footer/footer.njk" %}
{% include "soundcloud/soundcloud.njk" %}
