.nav {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  
  background-image: url('/img/general/nav__bg.png');
  background-position: center;
  box-shadow: $boxShadow;

  a {
    color: white;
  }
  
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    min-height: 60px;
  
    text-transform: uppercase;
    font-size: 14px;
  }

  &__routes,
  &__socials {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__logo {
    width: 46px;
    height: 38px;
  }

  &__item {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;

    &::after { 
      content: ''; 
      bottom: 0;
      left: 0;
      position: absolute;
      height: 8px;
      width: 100%;
      background-color: white;
      display: none;
    }
  }
}

@each $classPage in 'page-release', 'page-blog' {
  .#{$classPage} { .nav__item--#{$classPage} { &::after { display: block; } } }
}
