<nav id="nav" class="nav">
  <div class="nav__container container">
    <ul class="nav__routes">
      <li><a href="/bleeplove">
        <picture>
          <source srcset="/bleeplove/img/general/logo.webp" type="image/webp">
          <source srcset="/bleeplove/img/general/logo.png" type="image/png"> 
          <img class="nav__logo" src="/bleeplove/img/general/logo.png" alt="Главная страница">
        </picture>
      </a></li>
      <li class="nav__item nav__item--page-release"><a class="nav__link" href="/bleeplove">Релизы</a></li>
      <li class="nav__item nav__item--page-blog"><a class="nav__link" href="blog">Блог</a></li>
    </ul>
    <ul class="nav__socials">
      <li>
        <a class="nav__social-icon" aria-label="bleeplove - tumblr" title="tumblr" href="https://bleeplove.tumblr.com/">
          <svg width="30px" height="30px" viewBox="0 0 97.75 97.75">
            <use href="img/svg/sprite-social.svg#tumblr" />
          </svg>
        </a>
      </li>
      <li>
        <a class="nav__social-icon" aria-label="bleeplove - bandcamp" title="bandcamp" href="https://bleeplove.bandcamp.com/">
          <svg width="30px" height="30px" viewBox="0 0 97.75 97.75">
            <use href="img/svg/sprite-social.svg#bandcamp" />
          </svg>
        </a>
      </li>
      <li>
        <a class="nav__social-icon" aria-label="bleeplove - twitter" title="twitter" href="https://twitter.com/BleepLove">
          <svg width="30px" height="30px" viewBox="0 0 97.75 97.75">
            <use href="img/svg/sprite-social.svg#twitter" />
          </svg>
        </a>
      </li>
      <li>
        <a class="nav__social-icon" aria-label="bleeplove - facebook" title="facebook" href="https://www.facebook.com/bleeploveru">
          <svg width="30px" height="30px" viewBox="0 0 97.75 97.75">
            <use href="img/svg/sprite-social.svg#facebook" />
          </svg>
        </a>
      </li>
      <li>
        <a class="nav__social-icon" aria-label="bleeplove - vkontakte" title="vk" href="https://vk.com/bleeplove">
          <svg width="30px" height="30px" viewBox="0 0 97.75 97.75">
            <use href="img/svg/sprite-social.svg#vk" />
          </svg>
        </a>
      </li>
    </ul>
  </div>
</nav>
