<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ title }}</title>
  <!--[if IE]>
  <meta http-equiv="X-UA-Compatible" content="IE = edge">
  <![endif]-->
  <meta name="format-detection" content="telephone=no">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="">
  <meta name="description" content="description about site">
  <link rel="canonical" href="https://bleeplove.ru">
  <meta property="og:url" content="https://bleeplove.ru">
  <meta property="og:type" content="website">
  <meta property="og:title" content="open graphtitle">
  <meta property="og:description" content="open graph description">
  <meta name="twitter:title" content="twitter tittle">
  <meta name="twitter:description" content="twitter description">
  <meta name="twitter:card" content="summary">
  {# <link rel="preload" href="fonts/PressStart2P-Regular.woff2" as="font" type="font/woff2" crossorigin="anonymous">
  <link rel="shortcut icon" href="img/general/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" href="img/general/apple-touch-icon.png" sizes="180x180">
  <link rel="stylesheet" type="text/css" href="css/styles.min.css">
  <script src="js/libs.min.js" defer></script>
  <script src="js/script.min.js" defer></script> #}
</head>
<body class="nojs">
  layout index.njk
  {{ content | safe }}
  <noscript>Your browser does not support JavaScript</noscript>
</body>
</html>
